USE [Archive1]
GO
/****** Object:  Table [dbo].[Absence_stagaire]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Absence_stagaire](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CIN_Stagaire] [varchar](15) NOT NULL,
	[Date_abs] [datetime] NOT NULL,
	[Nombre_h] [int] NOT NULL,
	[ID_Matiére] [int] NOT NULL,
	[Justify] [varchar](3) NOT NULL,
	[years] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Absence_stagaire_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Active]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Active](
	[statu_mat] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Active] PRIMARY KEY CLUSTERED 
(
	[statu_mat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[ID] [int] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](70) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classe]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classe](
	[Type_stagaire] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Classe] PRIMARY KEY CLUSTERED 
(
	[Type_stagaire] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diplome]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diplome](
	[N_scolaire] [varchar](70) NOT NULL,
 CONSTRAINT [PK_Diplome] PRIMARY KEY CLUSTERED 
(
	[N_scolaire] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ecole]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ecole](
	[Nom_eco] [varchar](max) NOT NULL,
	[Abre] [varchar](50) NOT NULL,
	[Email] [varchar](80) NULL,
	[Tele] [varchar](10) NULL,
	[Fax] [varchar](15) NULL,
	[Addrs] [varchar](80) NULL,
	[Tele_fix] [varchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Filiére]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filiére](
	[ID_Fil] [int] NOT NULL,
	[Nom_fill] [varchar](max) NOT NULL,
	[Cap] [int] NOT NULL,
	[Niveau] [varchar](max) NOT NULL,
	[Nom_Full] [varchar](max) NULL,
	[years] [varchar](50) NULL,
	[activter] [varchar](max) NULL,
 CONSTRAINT [PK_Filiére] PRIMARY KEY CLUSTERED 
(
	[ID_Fil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[Sexe] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[Sexe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Justify]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Justify](
	[Justify] [varchar](3) NOT NULL,
 CONSTRAINT [PK_Justify] PRIMARY KEY CLUSTERED 
(
	[Justify] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matiére]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matiére](
	[ID_Matiére] [int] NOT NULL,
	[Nom_Mat] [varchar](80) NOT NULL,
	[Quiffance] [int] NOT NULL,
	[N_heurs] [int] NOT NULL,
	[Type_stagaire] [varchar](50) NOT NULL,
	[statu_mat] [varchar](10) NULL,
	[ID_Fil] [int] NULL,
	[years] [varchar](10) NULL,
 CONSTRAINT [PK_Matiére] PRIMARY KEY CLUSTERED 
(
	[ID_Matiére] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Note]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Note](
	[ID_Note] [int] NOT NULL,
	[CIN_Stagaire] [varchar](15) NOT NULL,
	[ID_Matiére] [int] NOT NULL,
	[EFCE_thero] [float] NULL,
	[EFCE_prat] [float] NULL,
	[Control_C] [float] NULL,
	[years] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Note] PRIMARY KEY CLUSTERED 
(
	[ID_Note] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paiment]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paiment](
	[ID_paimet] [int] IDENTITY(1,1) NOT NULL,
	[CIN_Stagaire] [varchar](15) NOT NULL,
	[Date_de_paiment] [date] NOT NULL,
	[Monant_par_m] [float] NOT NULL,
	[years] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Paiment] PRIMARY KEY CLUSTERED 
(
	[ID_paimet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PFE]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PFE](
	[ID_PFE] [int] NOT NULL,
	[PFE] [int] NOT NULL,
	[CIN_Stagaire] [varchar](15) NOT NULL,
	[years] [varchar](max) NOT NULL,
 CONSTRAINT [PK_PFE] PRIMARY KEY CLUSTERED 
(
	[ID_PFE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proposition]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proposition](
	[pro] [varchar](20) NOT NULL,
	[Date_pro] [date] NULL,
 CONSTRAINT [PK__Proposit__DD37A1C4A526C71C] PRIMARY KEY CLUSTERED 
(
	[pro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiffance]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiffance](
	[ID_Quiff] [int] IDENTITY(1,1) NOT NULL,
	[Quiff] [int] NOT NULL,
	[Type_EX] [varchar](15) NOT NULL,
	[years] [varchar](max) NULL,
 CONSTRAINT [PK_Quiffance] PRIMARY KEY CLUSTERED 
(
	[ID_Quiff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stagaire]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stagaire](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ID_Stagaire] [int] NOT NULL,
	[N_Insc] [varchar](10) NOT NULL,
	[Nom_stagaire] [varchar](20) NOT NULL,
	[Pre_stagaire] [varchar](20) NOT NULL,
	[CIN_Stagaire] [varchar](15) NOT NULL,
	[Date_Ins] [varchar](max) NOT NULL,
	[N_scolaire] [varchar](70) NOT NULL,
	[Addrs] [varchar](70) NOT NULL,
	[Email] [varchar](70) NOT NULL,
	[Tele] [varchar](20) NOT NULL,
	[Type_stagaire] [varchar](50) NOT NULL,
	[Sexe] [varchar](10) NOT NULL,
	[Mont_an] [float] NOT NULL,
	[Statut_Stg] [varchar](50) NULL,
	[pro] [varchar](20) NULL,
	[Mont_total] [float] NULL,
	[Date_naissance] [date] NULL,
	[Lieu_naissance] [varchar](50) NULL,
	[years] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Stagaire_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stage]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stage](
	[ID_Stage] [int] NOT NULL,
	[CIN_Stagaire] [varchar](15) NOT NULL,
	[Date_d] [date] NOT NULL,
	[Date_f] [date] NOT NULL,
	[Nom_Entr] [varchar](50) NOT NULL,
	[Addrs_Ent] [varchar](70) NOT NULL,
	[Tele] [varchar](15) NOT NULL,
	[FileNameAtes] [nvarchar](max) NULL,
	[FileNameDs] [nvarchar](max) NULL,
	[FileDataDs] [varbinary](max) NULL,
	[FileDataAtes] [varbinary](max) NULL,
	[years] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Stage] PRIMARY KEY CLUSTERED 
(
	[ID_Stage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_stg]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_stg](
	[Statut_Stg] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Status_stg] PRIMARY KEY CLUSTERED 
(
	[Statut_Stg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Validé]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Validé](
	[Validé] [varchar](3) NOT NULL,
 CONSTRAINT [PK_Validé] PRIMARY KEY CLUSTERED 
(
	[Validé] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Active] ([statu_mat]) VALUES (N'Active')
INSERT [dbo].[Active] ([statu_mat]) VALUES (N'Non Active')
GO
INSERT [dbo].[Classe] ([Type_stagaire]) VALUES (N'1er année')
INSERT [dbo].[Classe] ([Type_stagaire]) VALUES (N'2émé année')
GO
INSERT [dbo].[Diplome] ([N_scolaire]) VALUES (N'Bac')
INSERT [dbo].[Diplome] ([N_scolaire]) VALUES (N'N_bac')
INSERT [dbo].[Diplome] ([N_scolaire]) VALUES (N'tech')
GO
INSERT [dbo].[Filiére] ([ID_Fil], [Nom_fill], [Cap], [Niveau], [Nom_Full], [years], [activter]) VALUES (1, N'TSDI', 50, N'info', N'TS-Technicien Specialise en Developpement Infomatique', N'2024', NULL)
GO
INSERT [dbo].[Genre] ([Sexe]) VALUES (N'F')
INSERT [dbo].[Genre] ([Sexe]) VALUES (N'H')
GO
INSERT [dbo].[Justify] ([Justify]) VALUES (N'Non')
INSERT [dbo].[Justify] ([Justify]) VALUES (N'Oui')
GO
INSERT [dbo].[Matiére] ([ID_Matiére], [Nom_Mat], [Quiffance], [N_heurs], [Type_stagaire], [statu_mat], [ID_Fil], [years]) VALUES (1, N'Metier et Formation', 1, 40, N'1er année', N'Active', 1, N'2023/2024')
INSERT [dbo].[Matiére] ([ID_Matiére], [Nom_Mat], [Quiffance], [N_heurs], [Type_stagaire], [statu_mat], [ID_Fil], [years]) VALUES (2, N'English', 1, 40, N'1er année', N'Active', 1, N'2023/2024')
INSERT [dbo].[Matiére] ([ID_Matiére], [Nom_Mat], [Quiffance], [N_heurs], [Type_stagaire], [statu_mat], [ID_Fil], [years]) VALUES (3, N'SGBDII', 60, 1, N'2émé année', N'Active', 1, N'2023/2024')
GO
INSERT [dbo].[Note] ([ID_Note], [CIN_Stagaire], [ID_Matiére], [EFCE_thero], [EFCE_prat], [Control_C], [years]) VALUES (1244, N'ddffgb', 1, 13, 13, 13, N'2020/2021')
INSERT [dbo].[Note] ([ID_Note], [CIN_Stagaire], [ID_Matiére], [EFCE_thero], [EFCE_prat], [Control_C], [years]) VALUES (1245, N'ddffgb', 2, 13, 13, 13, N'2020/2021')
INSERT [dbo].[Note] ([ID_Note], [CIN_Stagaire], [ID_Matiére], [EFCE_thero], [EFCE_prat], [Control_C], [years]) VALUES (1246, N'ddffgb', 5, 13, 13, 13, N'2020/2021')
GO
INSERT [dbo].[PFE] ([ID_PFE], [PFE], [CIN_Stagaire], [years]) VALUES (12, 13, N'ddffgb', N'2021/2022')
INSERT [dbo].[PFE] ([ID_PFE], [PFE], [CIN_Stagaire], [years]) VALUES (14, 18, N'krimo', N'2023/2024')
GO
INSERT [dbo].[Proposition] ([pro], [Date_pro]) VALUES (N'Stagiaire Admis', NULL)
INSERT [dbo].[Proposition] ([pro], [Date_pro]) VALUES (N'Stagiaire Ajourné', NULL)
GO
SET IDENTITY_INSERT [dbo].[Quiffance] ON 

INSERT [dbo].[Quiffance] ([ID_Quiff], [Quiff], [Type_EX], [years]) VALUES (1045, 3, N'CC', N'2023/2024')
INSERT [dbo].[Quiffance] ([ID_Quiff], [Quiff], [Type_EX], [years]) VALUES (1046, 3, N'EFCE_thero', N'2023/2024')
INSERT [dbo].[Quiffance] ([ID_Quiff], [Quiff], [Type_EX], [years]) VALUES (1047, 2, N'EFCE_prat', N'2023/2024')
SET IDENTITY_INSERT [dbo].[Quiffance] OFF
GO
SET IDENTITY_INSERT [dbo].[Stagaire] ON 

INSERT [dbo].[Stagaire] ([id], [ID_Stagaire], [N_Insc], [Nom_stagaire], [Pre_stagaire], [CIN_Stagaire], [Date_Ins], [N_scolaire], [Addrs], [Email], [Tele], [Type_stagaire], [Sexe], [Mont_an], [Statut_Stg], [pro], [Mont_total], [Date_naissance], [Lieu_naissance], [years]) VALUES (79, 1, N'ddffgb', N'ddffgb', N'ddffgb', N'ddffgb', N'14/06/2024 00:02:45', N'Bac', N'ddffgb', N'ddffgb', N'256', N'1er année', N'H', 5000, N'Active', N'Stagiaire Admis', 5000, NULL, NULL, N'2020/2021')
INSERT [dbo].[Stagaire] ([id], [ID_Stagaire], [N_Insc], [Nom_stagaire], [Pre_stagaire], [CIN_Stagaire], [Date_Ins], [N_scolaire], [Addrs], [Email], [Tele], [Type_stagaire], [Sexe], [Mont_an], [Statut_Stg], [pro], [Mont_total], [Date_naissance], [Lieu_naissance], [years]) VALUES (80, 1, N'ddffgb', N'ddffgb', N'ddffgb', N'ddffgb', N'14/06/2024 00:02:45', N'Bac', N'ddffgb', N'ddffgb', N'256', N'2émé année', N'H', 10000, N'Active', N'Stagiaire Admis', 5000, NULL, NULL, N'2021/2022')
INSERT [dbo].[Stagaire] ([id], [ID_Stagaire], [N_Insc], [Nom_stagaire], [Pre_stagaire], [CIN_Stagaire], [Date_Ins], [N_scolaire], [Addrs], [Email], [Tele], [Type_stagaire], [Sexe], [Mont_an], [Statut_Stg], [pro], [Mont_total], [Date_naissance], [Lieu_naissance], [years]) VALUES (81, 1, N'TDI01', N'Karim', N'karim', N'krimo', N'14/06/2024 12:08:12', N'Bac', N'karim', N'karim', N'02555', N'1er année', N'H', 5000, N'Active', N'Stagiaire Admis', 5000, NULL, NULL, N'2022/2023')
SET IDENTITY_INSERT [dbo].[Stagaire] OFF
GO
INSERT [dbo].[Status_stg] ([Statut_Stg]) VALUES (N'Abandonné')
INSERT [dbo].[Status_stg] ([Statut_Stg]) VALUES (N'Active')
GO
INSERT [dbo].[Validé] ([Validé]) VALUES (N'Non')
INSERT [dbo].[Validé] ([Validé]) VALUES (N'Oui')
GO
ALTER TABLE [dbo].[Absence_stagaire]  WITH CHECK ADD  CONSTRAINT [FK_Absence_stagaire_Justify] FOREIGN KEY([Justify])
REFERENCES [dbo].[Justify] ([Justify])
GO
ALTER TABLE [dbo].[Absence_stagaire] CHECK CONSTRAINT [FK_Absence_stagaire_Justify]
GO
ALTER TABLE [dbo].[Absence_stagaire]  WITH CHECK ADD  CONSTRAINT [FK_Absence_stagaire_Matiére] FOREIGN KEY([ID_Matiére])
REFERENCES [dbo].[Matiére] ([ID_Matiére])
GO
ALTER TABLE [dbo].[Absence_stagaire] CHECK CONSTRAINT [FK_Absence_stagaire_Matiére]
GO
ALTER TABLE [dbo].[Matiére]  WITH CHECK ADD  CONSTRAINT [FK_Matiére_Active] FOREIGN KEY([statu_mat])
REFERENCES [dbo].[Active] ([statu_mat])
GO
ALTER TABLE [dbo].[Matiére] CHECK CONSTRAINT [FK_Matiére_Active]
GO
ALTER TABLE [dbo].[Matiére]  WITH CHECK ADD  CONSTRAINT [FK_Matiére_Classe] FOREIGN KEY([Type_stagaire])
REFERENCES [dbo].[Classe] ([Type_stagaire])
GO
ALTER TABLE [dbo].[Matiére] CHECK CONSTRAINT [FK_Matiére_Classe]
GO
ALTER TABLE [dbo].[Matiére]  WITH CHECK ADD  CONSTRAINT [FK_Matiére_Filiére] FOREIGN KEY([ID_Fil])
REFERENCES [dbo].[Filiére] ([ID_Fil])
GO
ALTER TABLE [dbo].[Matiére] CHECK CONSTRAINT [FK_Matiére_Filiére]
GO
ALTER TABLE [dbo].[Note]  WITH CHECK ADD  CONSTRAINT [FK_Note_Matiére] FOREIGN KEY([ID_Matiére])
REFERENCES [dbo].[Matiére] ([ID_Matiére])
GO
ALTER TABLE [dbo].[Note] CHECK CONSTRAINT [FK_Note_Matiére]
GO
/****** Object:  StoredProcedure [dbo].[Delete_Student]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Delete_Student]
    @CIN_Stagaire VARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Stagaire WHERE CIN_Stagaire = @CIN_Stagaire)
    BEGIN
        DELETE FROM Paiment WHERE CIN_Stagaire = @CIN_Stagaire;
		DELETE FROM Absence_stagaire WHERE CIN_Stagaire = @CIN_Stagaire;
		DELETE FROM Stage WHERE CIN_Stagaire = @CIN_Stagaire;
        DELETE FROM Stagaire WHERE CIN_Stagaire = @CIN_Stagaire;
        SELECT 'Stagaire est Supprimer !.' AS Message;
    END
    ELSE
    BEGIN
        SELECT 'Ce stagiaire n''existe pas.' AS Message;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[joining]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[joining]
as
select Stagaire.CIN_Stagaire,Nom_stagaire ,Pre_stagaire,Sexe,Date_de_paiment,Mont_an from Paiment
inner join Stagaire ON Stagaire.CIN_Stagaire = Paiment.CIN_Stagaire
where Stagaire.Type_stagaire='1er année'
GO
/****** Object:  StoredProcedure [dbo].[ps1]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ps1] 
@CIN varchar(10)
as
begin
if((Select CIN_for from Formateur) = @CIN)
begin
select * from Formateur where CIN_for = @CIN
end
else
begin 
print('Had formateur makaynax')
end
end
GO
/****** Object:  StoredProcedure [dbo].[ps9]    Script Date: 14/06/2024 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ps9]
@ID int,
@Username varchar(50),
@password varchar(50)
as
begin
 if @ID = (select ID from admin) begin update admin set Username = @Username , Password = @password end else print('ID is inccorect'); 
end
GO
